---
const proyectos = "proyectos";
const en = "en";
const trabajar = "trabajar";
const para = "para";
const Disponible = "Disponible";
const personalImageAlt = "Diego Saavedra"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="public/statick.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/diego-saavedra-developer/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
    <Badge>{Disponible} {para} {trabajar} {en} {proyectos}</Badge>
  </div>
    </a>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Diego Saavedra
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +8 años de experiencia. <strong
      >Magister en Ciencias y Tecnologías de la Computación</strong
    > de Quito, Ecuador 🇪🇨. Especializado en el Desarrollo de Aplicaciones Web e Inteligencia Artificial.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:dsaavedra88@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/diego-saavedra-developer/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>